.clear-fix{
  clear: both;
}

*{
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  background-color: black;
}
h1 {
  text-align: center;
  color: white;
  font-family: cursive;
  margin-bottom: 150px;
}
#app{
  width: 100%;
  height: auto;
  display: inline-block;
  margin: auto;
}

#app img{
  width: 350px;
  height: 350px;
  margin-left: 80px;


}

#app canvas{
  width: 75%;
  height: 50%;

}

p {
  text-align: center;
  margin-top: 50px;
  font-size: 25px;
  font-family: cursive;
  color: white;
}
